label{
    font: bold;
    margin-top: 25px;
    display: inline-block;
    float: left;
    clear: left;
    width: 130px;
    /* text-align: right; */
}
input {
    margin-top: 25px;
    display: inline-block;
    float: left;
}

.button {
    display: inline-block;
    margin-top: 330px;
    font-size: 24px;
    
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
    color: whitesmoke;  
    background-color: green;
   
    border-radius: 5px;
  }


